$primary: #029a20;
$secondary: #B33D4E;
$grey: #3a3a3a;

*, *::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    width: 40%;
    display: flex;
    justify-content: space-between;

    .nav-link {
      color: $primary;
      text-decoration: none;
      position: relative;
      font-size: 1.2em;
      font-weight: bold;
      padding-bottom: 0.2em;
      transition: color 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        width: 0;
        height: 2px;
        background-color: $secondary;
        transform: translateX(-50%);
        transition: width 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
      }

      &:hover {
        color: $secondary;

        &::before {
          width: 100%;
        }
      }
    }
  }
}

.mobile-nav {
  justify-content: space-between;
  align-items: center;
  padding: 0 0.6em;
}

.logo {
  font-size: 3em;
  color: $primary;
  font-weight: bold;
  @media (max-width: 767px) {
    font-size: 1.5em;
  }

  img {
    max-width: 100%;
    height: 50px;
  }
}

.mobile-menu {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  padding: 3em 0;
  background: $primary;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.6em;
  }

  &--open {
    transform: translateX(0);
  }
}

.burger {
  background: transparent;
  border: none;
  z-index: 4;
  outline-color: $primary;

  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: $primary;
    border-radius: 3px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

    &:first-child {
      transform-origin: 0% 0%;
    }

    &:last-child {
      transform-origin: 0% 100%;
    }
  }

  &--open {
    outline-color: $secondary;

    span {
      background-color: #fff;

      &:first-child {
        transform-origin: 0% 0%;
        transform: rotate(45deg) translate(1px, -1px)
      }

      &:nth-last-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      &:last-child {
        transform-origin: 0% 100%;
        transform: rotate(-45deg) translate(-2px, 4px);
      }
    }
  }
}

.hero-slide {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: $secondary;
    background-blend-mode: multiply;
    filter: grayscale(100%);
  }

  .slide-heading {
    color: #fff;
    font-weight: bold;
    font-size: 2.8em;
    position: relative;
    margin-left: 40px;

    @media (max-width: 767px) {
      font-size: 1.7em;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -40px;
      width: 8px;
      height: 100%;
      background-color: $primary;
    }
  }

  p {
    color: #fff;
    line-height: 1.5em;
  }

  .button-cta {
    display: inline-block;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    background-color: $primary;
    padding: 15px 30px;
    transition: background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    @media (max-width: 767px) {
      font-size: 1em;
    }

    &:hover {
      background-color: $secondary;
    }
  }
}

.hero-1 {
  &::before {
    background-image: url("assets/hero.png");
  }
}

.hero-2 {
  &::before {
    background-image: url("assets/hero2.jpg");
  }
}

.hero-3 {
  &::before {
    background-image: url("assets/hero3.jpg");
  }
}

.section-heading {
  text-align: center;
  font-size: 2.8em;
  font-weight: bold;
  color: #000;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50px;
    height: 5px;
    background-color: $primary;
    transform: translate(-50%, 5px);
  }
}

.about {

  &-icon {
    width: 100%;
    font-size: 5em;
    color: $primary;
    text-align: center;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $secondary;
    }
  }

  &-heading {
    width: 100%;
    text-align: center;;
    font-size: 1.5em;
    font-weight: bold;
  }

  &-caption {
    line-height: 1.5em;
    text-align: center;
  }
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0;
  text-align: right;

  img {
    max-height: 250px;
    max-width: 100%;
  }

  p {
    font-size:20px;
    max-width: 70%;
    margin-left: auto;
  }

  .title-service {
    color: $primary;
    font-size: 2.3em;
    margin-top: 0;
  }

  img{
    border-left:$primary solid 6px;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    text-align: left;

    img{
      border:none;
      border-right:$primary solid 6px;
    }

    p {
      margin: 0;
    }
  }

  @media (max-width: 1200px) {
    p {
      max-width: 100%;
      padding-right: 0;
      padding-left: 1em;
    }
    &:nth-child(even) {
      p {
        padding-right: 1em;
        padding-left: 0;
      }
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
    margin: 5em 1em 0;
    .title-service {
      text-align: center;
    }
    p {
      text-align: justify;
      padding: 0 !important;
    }
    div {
      padding: 2em 0 0 0 !important;
    }
    &:nth-child(even) {
      flex-direction: column;
    }
  }
}

.divider{
  width:100%;
  height:1px;
  background-color: rgba(255,255,255,0.4);
}

.footer {
  background-color: $grey;
  color: #fff;
  line-height: 2em;
  a {
    text-decoration: none;
    color:#fff;
    transition: color .2s ease-in-out;
    &:hover{
      color:$secondary;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      width: 8px;
      height: 100%;
      background-color: $primary;
    }

    &-line {
      font-size: 1.4em;
      position: relative;

    }
  }
}

.map {
  max-height: 300px;
}

.container-fluid {
  max-width: 1920px;
}

.img-fluid{
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.calculated-height{
  height:calc(100vh - 94px);
}

@media (min-width: 1200px) {
  .d-lg-initial {
    display: initial !important;
  }
}

.swiper-container {
  width: 100%;
}

.swiper-button-prev {
  color: $primary;
  left: 20px;
}

.swiper-button-next {
  color: $primary;
  right: 20px;
}

.swiper-pagination-bullet-active {
  background: $primary;
}